[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/NERDTree"]
	path = vimfiles/bundle/NERDTree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = http://github.com/devemouse/snipmate.vim.git
[submodule "vimfiles/bundle/bisect"]
	path = vimfiles/bundle/bisect
	url = http://github.com/mikezackles/Bisect.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = http://github.com/devemouse/vim-ruby.git
[submodule "vimfiles/bundle/bufexplorer"]
	path = vimfiles/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vimfiles/bundle/SingleCompile"]
	path = vimfiles/bundle/SingleCompile
	url = git://github.com/devemouse/SingleCompile.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-indent-guides"]
	path = vimfiles/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
