[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/NERDTree"]
	path = vimfiles/bundle/NERDTree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = git@github.com:darek129/snipmate.vim.git
