[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/NERDTree"]
	path = vimfiles/bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = git://github.com/devemouse/snipmate.vim.git
[submodule "vimfiles/bundle/bisect"]
	path = vimfiles/bundle/bisect
	url = git://github.com/mikezackles/Bisect.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = git://github.com/devemouse/vim-ruby.git
[submodule "vimfiles/bundle/bufexplorer"]
	path = vimfiles/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vimfiles/bundle/SingleCompile"]
	path = vimfiles/bundle/SingleCompile
	url = git://github.com/vim-scripts/SingleCompile.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-indent-guides"]
	path = vimfiles/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-codereview"]
	path = vimfiles/bundle/vim-codereview
	url = git://github.com/devemouse/vim-codereview.git
[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/vim-extradite"]
	path = vimfiles/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
